pkgbase = tomahawk
	pkgdesc = A Music Player App written in C++/Qt
	pkgver = 0.6.0
	pkgrel = 1
	url = http://tomahawk-player.org/
	install = tomahawk.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	depends = phonon
	depends = taglib
	depends = boost
	depends = clucene
	depends = libechonest2
	depends = jreen
	depends = qtweetlib
	depends = quazip
	depends = attica
	depends = qtwebkit
	depends = liblastfm
	optdepends = tomahawk-spotify-git: spotify resolver
	provides = tomahawk
	conflicts = tomahawk-git
	options = !strip
	source = http://download.tomahawk-player.org/tomahawk-0.6.0.tar.bz2
	sha256sums = 28ea3b1424a99879bf9457f04b3ce8e63dca9ee84e6651027a1ecad9d74ae335

pkgname = tomahawk

