pkgbase = tomahawk
	pkgdesc = A Music Player App written in C++/Qt
	pkgver = 0.8.2
	pkgrel = 2
	url = http://tomahawk-player.org/
	install = tomahawk.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	depends = phonon-qt4
	depends = taglib
	depends = boost
	depends = lucene++
	depends = libechonest2
	depends = jreen
	depends = qtweetlib
	depends = quazip
	depends = attica-qt4
	depends = qtwebkit
	depends = liblastfm
	depends = sparsehash
	depends = qtkeychain-qt4
	depends = websocketpp
	provides = tomahawk
	conflicts = tomahawk-git
	source = http://download.tomahawk-player.org/tomahawk-0.8.2.tar.bz2
	sha256sums = 522d2ef873f8548990ac1fc736c11dd08c347687c77d63b520f55207f19db3ae

pkgname = tomahawk

