pkgbase = tomahawk
	pkgdesc = A Music Player App written in C++/Qt
	pkgver = 0.8.0
	pkgrel = 1
	url = http://tomahawk-player.org/
	install = tomahawk.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	depends = phonon-qt4
	depends = taglib
	depends = boost
	depends = lucene++
	depends = libechonest2
	depends = jreen
	depends = qtweetlib
	depends = quazip
	depends = attica-qt4
	depends = qtwebkit
	depends = liblastfm
	depends = sparsehash
	depends = qtkeychain
	depends = websocketpp
	provides = tomahawk
	conflicts = tomahawk-git
	source = http://download.tomahawk-player.org/tomahawk-0.8.0.tar.bz2
	sha256sums = 3ec840d7834b856c1a04575388935e613698db391e1096604048c8d1a50d55d9

pkgname = tomahawk

